<p><span class="label">Last name:</span> {{ person.last_name }}</p>
<p><span class="label">Patronymic:</span> {{ person.patronymic }}</p>
<p><span class="label">Gender:</span>
    {% if person.gender %}
    Male
    {% else %}
    Female
    {% endif %}
</p>
<p><span class="label">Residence:</span> {{ person.residence }}</p>
<p><span class="label">Birth place:</span> {{ person.birth_place }}</p>
<p><span class="label">Date of birth:</span> {{ person.date_of_birth }}</p>
<p><span class="label">Nationality:</span> {{ person.nationality }}</p>
<p><span class="label">Family status:</span>
    {% if person.family_status == 0 %}
        Single
    {% else %}
        Married
    {% endif %}
</p>
<p><span class="label">Military service:</span>
    {% if person.military_service == 0 %}
        Don't served
    {% else %}
        Served
    {% endif %}
</p>