body {
    font-family: Verdana;
}

body h1 {
    font-family: sans-serif;
    color: rgb(79, 158, 189);
    font-size: 30px;
}

.label {
    font-weight: bold;
}

body div ul li {
    list-style-type: none;
    border: 1px dashed rgb(147, 143, 143);
    padding: 0.5em;
}

body div ul li p {
    margin: 0;
}

.button {
    text-decoration: none;
    font-size: 85%;
    border: 1.5px solid;
    border-radius: 20px;
    padding: 0.2em 1em;
    margin: 0.2em 0px;
    display: inline-block;
    background: rgb(200, 200, 200) none repeat scroll 0% 0%;
    color: #868686;
}

.button {
    color: black;
}

.button:hover {
    background: #efefef;
    color: #7b7b7b;
}