body {
    font-family: Verdana;
}

table.list {
    border-collapse: collapse;
    width: 570px;
    text-align: center;
}

table.list > caption {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    color: rgb(79, 158, 189);
    border-bottom: 1px solid #838383;
    margin-bottom: 15px;
}

table.list thead {
   border: 1px solid #474747;
    background: #3fa4aa;
    color: whitesmoke;
    text-shadow: 1px 1px rgba(101, 101, 101, 0.8);
    border-bottom: 2px solid #474747;
}

table.list tbody {
    border: 1px solid black;
    background: #eafeff;
}

table.list thead th {
    border: 1px solid #6C6C6C;
}

table.list tbody td {
    border: 1px solid #b0b0b0;
}

table.list tbody td a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px whitesmoke;
}

table.list tbody td a:hover {
    color: rgb(93, 146, 176);
    text-shadow: 1px 1px #9ec9d1;
}

.button {
    text-decoration: none;
    font-size: 85%;
    border: 1.5px solid;
    border-radius: 20px;
    padding: 0.2em 1em;
    margin: 0.2em 0px;
    display: inline-block;
    background: rgb(200, 200, 200) none repeat scroll 0% 0%;
    color: #868686;
}

.button {
    color: black;
}

.button:hover {
    background: #efefef;
    color: #7b7b7b;
}